services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: stunning-backend
    network_mode: host
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: stunning-frontend
    network_mode: host
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - ENV=dev
    restart: unless-stopped
